.bag{
   
    background-image: url('images/developer.png');
}
header{
     background-color: rgb(255, 248, 243);
     background-image: url('../images/developer.png'), url('../images/header_bg.png');
     background-position: top left ,bottom right;
    
     background-repeat: no-repeat;
}
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 10px 100px;
    /* background-color: rgb(255, 248, 243); */

}
nav h3{
    font-weight: 800;
    font-size: 45px;
    margin-left: 200px;
}
.mary-style{
    color: rgb(253, 110, 10);
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    
}
.dark2{
    color: rgb(71, 71, 71);
}
nav ul{
    display: flex;
    align-items: center;
    
}

.btn{
    background-color: rgb(253, 110, 10);
    font-size: bold;
    color: white;
    border-radius:5px ;
    padding: 18px 35px;
    border: none;

}
/* contener-style */
.hardy-2{
/* background-image: url('..images/header_bg.png'); */
}
.hi{
    font-size: 45px;
    font-weight: 600px;
    
    color: rgb(71, 71, 71);
}
.hardy{
    font-size: 85px;
    font-weight: 700px;
}
.shot{
     font-size: 18px;
    font-weight: 400px;
    margin-top: 0px;
}
.content{
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(255, 248, 243); */
    margin: 0 38px 0 230px;
}
.Contact{
    align-items: center;
    /* border: 2px solid black; */
}
.btn-2{
font-size: 20px;
font-weight: 700px;
color: rgb(253, 110, 10);
padding: 15px 23px;
margin-left: 20px;

}
/* mai about section */
.about{
    text-align: center;
    max-width: 1140px;
    height: 550px;
    background-color: rgb(255, 248, 243);
    border-radius: 10px;
    margin: 130px 230px;margin: 130px 230px;
    padding: 131px 157px;
}
.about-style{
    font-size:30px;
    font-weight: 700px;
    text-align: center;
    /* padding: 131px  157px 0 157px ; */

}
.about-descrption{
    font-weight: 400px ;
    font-size: 18px;
    color: rgb(117, 117, 117);
    text-align: center;
    
}
.text-info{
    font-size: 20px;
    font-weight: 700px;
    color: rgb(117, 117, 117);
} 
.tex-content{
    display:flex;
    justify-content: space-around;
    padding-top: 30px;
}
/* card stule */
.caed-text{
   margin: 130px 230px;
}
.card-contner{
    width: 267px;
    height: 377px;
    
    background-color: rgb(255, 255, 255);
    box-shadow:   rgba(0, 0, 0, 0.06);
    /* border: 2px solid black; */
    padding: 104px 30px 30px 30px;
    box-shadow: 10px 10px 10px 10px rgba(117, 117, 117, 0.842);
}
.card-descrption{
    font-size: 18px;
    font-weight: 400px;
    color: rgb(117, 117, 117);

}
.card-style{
    font-size: 20px;
    font-weight: 700px;
}
.catd-flix{
    display: flex;
    justify-content: space-around;
}

/* Resume-colom-style */
.Resume-contener{
    display: flex;
    gap: 30px;
    margin: 30px 38px 1px 230px;

}
.colom-title{
    margin: 0px 230px 0px 0px;

}
.summary{
    text-align: center;
    font-weight: 700px;
    font-size: 35px;
    color: rgb(24, 24, 24);
    margin-bottom: 40px;
}
.Resume-title{
font-size: 30px;
font-weight: 700px;
color: rgb(71, 71, 71);
}
.Resume-colom-title{
    font-size: 25px;
font-weight: 700px;
color: rgb(71, 71, 71);
}
.Resume-sub-title{
    font-size: 20px;
font-weight: 600px;
color:rgb(117, 117, 117) ;
}
.Resume-drcsubtion{
    font-size: 16px;
font-weight: 400px;
color: rgb(117, 117, 117);
}
.Resume-button{
    font-size: 20px;
    font-weight: 700px;
    color: rgb(255, 255, 255);
    background-color: rgb(253, 110, 10);
    padding: 18px 17px 18px 51px;
    border-radius: 5px;
    margin-left:45%;
    margin-top: 40px;
    bottom:1px solid rgb(255, 255, 255);
    border: none;
    

}
/* footer style */
.footer{
    display: flex;
    background-color: rgb(255, 248, 243);
    padding: 130px 230px;
    margin-top: 113px;
    gap: 117px;
}
.footer-colom{
    font-size: 35px;
    font-weight: 700px;
}
.footer-drecsubtion{
    font-size: 16px;
    font-weight: 400px;
    color: rgb(71, 71, 71);

}
.footer input[type="text"],footer input[type="email"],footer textarea{
    display:block;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px 20PX ;
    margin-bottom: 24px;
    border: none;

}
.footer button{
    color: rgb(255, 255, 255);
    background-color: rgb(253, 110, 10);
    padding: 18px 39px;
    border: none;
    border-radius:5px ;
}

